@media only screen and (min-width: 45rem)
{


h2 {
    
    font-size: 4em;
    
}



nav button {
    display: none;  /*saco el boton de menu*/
        }

nav ul li {
    float: left;
}

nav ul li a {
    border: none; /*desaparece el borde */
    border-right: 1px solid rgba(0, 0, 0, 0.3); /*bordes a los costados*/
    padding: .8rem 1rem; /* espacio alrededor del texto*/
}

nav ul.hide {
    display: block;   /*fuerzo el display*/
}


footer {
  
    font-size: 1.2em;
}

.weather-summary {
    
    top: 420px;
    }

.prestonhero {
    max-width: 240%;
    margin-bottom: 5px;
    
  }

.summaryBox {
       font-size: 40px;

}

.forescastBox {

    font-size: 40px;
}

.articleBox {
    
    font-size: 40px;
}

.contactBox {
  
    font-size: 40px;
}

}