@media only screen and (min-width: 37.5em)
{
 

h2 {
     font-size: 3em;
     
}
.weather-summary {
    
    top: 380px;
  }

footer {
    font-size: 1.2em;
}


.summaryBox {
    font-size: 30px;

}

.forescastBox {
       font-size: 30px;
}

.articleBox {
    
    font-size: 30px;
}

.contactBox {
    
    font-size: 30px;
}

}
