// color palette - these colors will be the color swatches of the Colors section

$color-1: #012c5e; // 
$color-2: #e10024; // 
$color-3: #05428a; // 
$color-4: #000000; //
$color-5: #ffffff; // 


// additional colors
$color-6: #fed700; // 
$success: #6fce72; // green
$alert: rgba(253, 34, 34, 0.932); // red